@using OdeToFood.Core.Models
@model Restaurant

<div class="col col-lg-3 col-md-6 col-sm-12">
   <div class="card">
      <div class="card-header">
         <h3>@Model.Name</h3>
      </div>
      <div class="card-body">
         <span>Location: @Model.Location</span>
         <span>Cuisine: @Model.CuisineType</span>
      </div>
      <div class="card-footer">
         <a class="btn btn-lg"
            asp-page="./Detail"
            asp-route-restaurantId="@Model.Id">
            <i class="fas fa-info-circle"></i>
         </a>
         <a class="btn btn-lg"
            asp-page="./Edit"
            asp-route-restaurantId="@Model.Id">
            <i class="fas fa-edit"></i>
         </a>
         <a class="btn btn-lg"
            asp-page="./Delete"
            asp-route-restaurantId="@Model.Id">
            <i class="fas fa-trash"></i>
         </a>
      </div>
   </div>
</div>
